node_modules/
.env
.env.local
.DS_Store
dist/
.nuxt/
.output/
.cache/
build/
coverage/
*.log
.idea/
.vscode/
*.swp
*.swo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
